.x-input {
    width: 100%;
    height: max-content;
    border-radius: 5px;

    .x-input-inner {
        padding: 0 10px;
        width: 100%;
        height: 40px;
        outline: none;
        border: none;
        border: 1px solid #c0c4cc;
        transition: all 0.3s ease;

        &:focus {
            border: 1px solid #70b6ff;
        }
    }

    input[type='password']::-ms-reveal {
        display: none
    }

    .is-disabled {
        cursor: no-drop;
        background-color: #ddd;
    }


}

.x-ui--suffix {
    position: relative;

    .x-ui-suffix {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #a1a6bb;
        cursor: pointer;
    }
}