 @mixin oneEllipsis {
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }

 @mixin moreEllipsis($val) {
     word-break: break-all;
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: $val;
     -webkit-box-orient: vertical;
 }